
/* common heading style */
body{
    font-family: 'Open Sans', sans-serif;
    margin:0px;
}
.txtprmry{
    color:#FD6E0A
}
.btn{
   background-color:#FD6E0A;
   border: none;
   border-radius: 5px;
   color: #FFF;
   font-size: 20px;
   font-weight: 700;
   padding: 12px 24px;
}
.sectttl{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.secdesc{
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
/* header */
.header{
    background-color:#FFF8F3;
    background-image:url('./images/developer.png');
    background-repeat: no-repeat;
    background-position:  left center;
   
}
/* nav */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}
.navtitle{
    color: #181818;
font-size: 45px;
font-weight: 800;
}
nav > ul{
    display:flex;
    align-items: center;
    
}
nav li{
    list-style:none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color:#474747;
}

/* banner */
.banner{
    padding:30px 30px 0px 150px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    background-image: url('./images/header_bg.png');
   
    background-repeat: no-repeat;
    background-position:  bottom right ;

}
.bannercntnt{
    /* background-color:#181818; */
    max-width:600px;
    /* width: 600px; */
}
.banner img{
    width: 500px;
height: 600px;

}
.bnrgreeting{
    color: #474747;
font-size: 45px;
font-weight: 600;
margin-bottom: 0px;
}
.bnrname{
    color: #181818;
font-size: 85px;
font-weight: 700;
margin-top: 5px;
margin-bottom: 20px;
}
.bnrtxt{
    margin-bottom: 30px;
}


/* main section */
/* about */
main{
    max-width: 1140px;
    margin: 0 auto; /*jottuk jayga ase vagavagi kore niye nibe*/
}
main section{
    margin-top: 130px;
}
.about{
    margin:130px 0px;


    padding:130px 150px;
    border-radius: 10px;
background-color: #FFF8F3;
}
.secdesc{
    margin: 30px 0 50px;
}
.abtinfocnt{
    
    display: flex;
    justify-content: space-around;
}
.abtinfo{
  
    color: #757575;
text-align: center;
font-size: 20px;
font-weight: 400;
}
.infodesc{
    color: #474747;
    font-weight: 700;
}
#whatidodesc{
    padding:30px 150px;
}
.skillscontainer{
    display:flex;
    gap:24px;
}
.skill{
    padding:30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skilldesc{
    color:  #757575;
font-size: 16px;
font-weight: 400;
}
.resumecontainer{
    display: flex;
    gap: 24px;
}
.resumecolumtitle{
    color:  #474747;
font-size: 30px;
font-weight: 700;
}
.rsmitminf{
    color: #757575;
    font-size: 20px;
font-weight: 600;
margin-bottom: 20px;
margin-top:0px;
}
.resumeitemdesc{
    color: #757575;

font-size: 16px;
font-weight: 400;
}
.rsmitmttl{
    color:  #474747;
font-size: 25px;
font-weight: 700;
margin-bottom: 10px;
}
.resumecontainer hr{
    margin: 30px 10px;
}
.dwnldcv{
    margin-top: 50px;
    text-align: center;
}
footer{
    display:flex;
    justify-content: center;
    gap:115px;
    background: #FFF8F3;
   padding:130px 200px;
   margin:100px 0px 0px;
}
.footerclmn{
    width:50%;
}
.contact input[type="text"],input[type="email"],textarea{
    display:block;
    margin-bottom: 25px;
    padding:18px 30px;
    border:none;
    border-radius: 5px;
background-color:  #FFF;
color:  #757575;
font-size: 16px;
font-weight: 400;
width: 100%;
}
.sociallinks a {
    margin-right: 25px;
}